.SearchModal {
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  color: #000;

  .searchBox {
    max-width: 1440px;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    background-color: #fff;

    .boxLeft {
      width: 720px;
      display: flex;
      flex-wrap: wrap;

      .box {
        width: 360px;
        height: 370px;
      }

      .imgBox {
        height: 370px;
        width: 360px;
        position: relative;

        p {
          position: absolute;
          top: 20px;
          left: 20px;
          color: white;
          font-size: 14px;
        }
      }

      .textBox {
        width: 360px;
        height: 185px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          padding-bottom: 15px;
        }

        div {
          display: flex;
          align-items: center;

          p {
            margin-left: 5px;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      .chuckBox {
        .collectionImg {
          width: 360px;
          height: 370px;
        }

        p {
          color: black;
          font-weight: 600;
        }
      }

      .jackpurcell p {
        color: black;
        font-weight: 600;
      }

      .colectionImg {
        height: 370px;
        width: 360px;
        // min-width: 320px;
        font-size: 14px;
        color: #000000;
      }

      .smallImg {
        width: 360px;
        height: 185px;
      }
    }

    .boxRight {
      width: 720px;
      border-left: 1px solid black;

      h1 {
        font-size: 40px;
        font-weight: 800;
      }

      .search {
        height: 370px;
        border-bottom: 1px solid black;
        padding-top: 46px;
        padding-left: 9.7%;
        padding-right: 13%;

        .inputBox {
          width: 500px;
          position: relative;

          input {
            width: 500px;
            height: 64px;
            padding: 40px 10px 10px 10px;
            margin-left: 20px;
            border-bottom: 1px solid black;
            font-size: 20px;

            &::placeholder {
              font-size: 20px;
              font-weight: 600;
            }
          }
          svg,
          path {
            width: 14px;
            height: 14px;
            position: absolute;
            right: 10px;
            top: 35px;
          }
        }
      }

      .popularWords {
        height: 370px;
        padding-top: 46px;
        padding-left: 9.7%;
        padding-right: 13%;

        ul {
          padding-top: 46px;
          padding-left: 46px;

          li {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    height: 740px;
    border-top: 1px solid;
  }
}
