.ShoeImage {
  .mainImage {
    width: 950px;
    height: 755px;
  }

  .subImageContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

    img,
    video {
      width: 390px;
      height: 470px;
      margin: 10px;
    }
  }
}
