.pageContainer {
  display: flex;

  .leftbox {
    display: flex;
    flex-direction: column;
  }

  .rightBox {
    width: 720px;
    height: 900px;
    background-image: url("https://image.converse.co.kr/cmsstatic/structured-content/17636/KakaoTalk_20200721_172805223.jpg?gallery");
    background-size: cover;
    position: relative;

    .textContainer {
      height: 200px;
      position: absolute;
      top: 320px;
      left: 60px;
      color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;

      .title {
        margin: 0px;
        height: 70px;
        font-size: 55px;
        font-weight: bold;
      }

      .sub {
        margin-top: 16px;
        font-size: 18px;
      }

      .btn {
        width: 179px;
        height: 47px;
        background-color: black;
        color: white;
        font-weight: bold;
        margin-top: 5px;
      }
    }
  }
}
