@import "../../../../Styles/Common.scss";

.ShoeSize {
  padding: 20px 0 30px 0;

  .sizeGuide {
    height: 30px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .sizeConsider {
      width: 250px;
      height: 100%;
      background-color: $black;
      color: $white;
      font-size: 12px;
      @extend %flexCenter;
      cursor: pointer;
    }

    button {
      cursor: pointer;
      background-color: white;
      text-decoration: underline;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .countWrap {
    padding: 30px 0 10px 0;
    display: flex;

    .count {
      border: $border;
      @extend %flexCenter;
      background-color: white;

      &.num {
        width: 80px;
        height: 50px;
      }

      &.minus,
      &.plus {
        width: 60px;
        height: 50px;
        font-size: 25px;
        cursor: pointer;
      }
    }
  }

  .infoHideLine {
    height: 22px;

    span {
      color: $red;
      font-size: 12px;
    }
  }

  .hide {
    visibility: hidden;
  }

  .loginBtn {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    background-color: $black;
    color: $white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }

  .afterLogin {
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    button {
      height: 100%;

      &.basketBtn,
      &.directBuy {
        width: 42%;
        margin-right: 5px;
        cursor: pointer;
      }

      &.basketBtn {
        background-color: $white;
        border: 1px solid $black;
        font-weight: bold;
      }

      &.directBuy {
        background-color: $black;
        color: $white;

        &:hover {
          border: 1px solid $black;
          background-color: $white;
          color: $black;
          font-weight: bold;
        }
      }

      &.iconWish {
        width: 13%;
        border: 1px solid $black;
        background-color: $white;

        &:hover .navHeart {
          transform: scale(1.3);
          transition: transform 0.3s;
        }

        .navHeart {
          width: 40%;
          padding-top: 5%;
          transition: transform 0.3s;
        }
      }
    }
  }

  .infoDelivery {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    border: $border;
    @extend %flexCenter;
    font-size: 12px;
    cursor: pointer;
  }

  .infoDeliveryText {
    position: relative;

    span {
      position: absolute;
      right: 10px;
      text-decoration: underline;
      font-size: 12px;
      color: $gray;
      cursor: pointer;
    }
  }
}
