.Header {
  width: 1400px;
  margin: 130px auto 20px;

  nav {
    height: 30px;
    display: flex;
    align-items: center;

    a {
      font-size: 12px;
      margin-right: 5px;

      &:not(:last-child) {
        opacity: 0.5;

        &::after {
          content: "/";
          margin-left: 5px;
        }
      }
    }
  }

  div {
    height: 175px;
    background-size: 1400px 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 900;
  }
}
