* {
  font-family: "proxima nova", "proxima-nova", "Nanum Gothic", Arial, Helvetica,
    sans-serif;

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$borderColor: #e5e5e5;
$black: #000000;
$blue: #0600ff;
$green: #009900;
$indigo: #141936;
$purple: #6600cc;
$brown: #986633;
$gray: #999999;
$khaki: #a39263;
$beige: #f0e4d2;
$red: #ff0400;
$orange: #ff6600;
$pink: #ffb6c1;
$yellow: #ffcc00;
$white: #ffffff;
