.ItemBox {
  width: 252px;
  height: 401px;
  margin: 0 8px 16px;
  background-color: beige;

  .imgBox {
    position: relative;
    .productImg {
      width: 252px;
      height: 315px;
      transition: opacity 426ms cubic-bezier(0.4, 0.9, 0.3, 1),
        visibility 426ms cubic-bezier(0.4, 0.9, 0.3, 1);
    }
    svg {
      width: 18px;
      height: 16px;
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }

  .productText {
    height: 86px;
    font-size: 14px;

    .name,
    .price {
      height: 22px;
    }
    .name {
      margin-top: 15px;
    }
    .color {
      height: 25px;
      display: flex;
      align-items: center;
    }
  }
}
