@import "../.../../../../../../../Styles/Common.scss";

.SizeFilterBox {
  padding: 10px 0;

  .fold {
    height: 40px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;

    ul {
      opacity: 0;
    }
  }

  .display {
    height: inherit;
    transition: height 0.3s ease-in-out;

    ul {
      opacity: 1;
      transition: opacity 0.7s ease-in-out;
    }

    .sizeBtnClicked {
      background-color: black;
      color: white;
    }
  }

  header {
    height: 40px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    .plusIcon {
      position: absolute;
      right: 0;
      opacity: 1;
      width: 14px;
      height: 14px;
    }

    .minusIcon {
      position: absolute;
      right: 0;
      opacity: 1;
    }

    .hidden {
      opacity: 0;
    }
  }

  .box {
    width: 224px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    button {
      width: 44.4px;
      height: 48px;
      border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: white;
    }

    .sizeBtnClicked {
      background-color: black;
      color: white;
    }
  }
}
