@import "../../Styles/Common.scss";

.ProductDetail {
  width: 100%;
  height: 100%;

  .ProductDetailWrapper {
    width: 1440px;
    margin: 0 auto;
  }
  .productDetailContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 100%;
  }
}
