@import "../../../../Styles/Common.scss";

.SideFilterBar {
  width: 225px;
  margin: 35px 20px 0 0;

  div {
    border-top: $border;

    header {
      height: 15px;
      padding: 10px 0px;
    }
  }
}
