// @import "../../../../Styles/Common.scss";
@import "../../../../Styles/Common.scss";

.ShoeColor {
  // height: 160px;
  padding: 20px 0 30px 0;
  font-size: 14px;
  border-bottom: $border;

  .grey {
    color: grey;
    margin-right: 5px;
  }

  .shoeColorImage {
    display: flex;
    margin-top: 20px;

    .shoeColorImageEach {
      width: 68px;
      margin-right: 2px;

      img {
        width: 67px;
        margin-right: 3px;
      }

      .underShoeColorImage {
        height: 1.5px;
        background-color: lightgrey;

        &.first {
          background-color: black;
        }
      }
    }
  }
}
