.InstaBox {
  width: 340px;
  height: 350px;
  margin: 10px;
  position: relative;
  overflow: hidden;

  .imgBox {
    img {
      width: 340px;
      height: 350px;
      &:nth-of-type(3) {
        height: 400px;
      }
    }
    .icon {
      width: 100px;
      position: absolute;
      top: 82%;
      left: 82%;
    }
    .instaHoverOn {
      opacity: 0.8;
      transform: translateY(-100%);
      transition: all 0.4s ease-in-out;
      position: relative;
      display: flex;
      justify-content: center;
      p {
        font-size: 14px;
        color: white;
        position: absolute;
        top: 0;
      }
    }
    .instaHoverOff {
      transition: all 0.3s ease-in-out;
    }
  }
}
