.InstaList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;

  .hidden {
    visibility: hidden;
  }
  .visible {
    visibility: visible;
  }
}
