.InstaBox {
  width: 350px;
  height: 355px;
  margin: 10px;
  position: relative;
  overflow: hidden;

  .imgBox {
    img {
      width: 350px;
      height: 355px;
      &:nth-of-type(3) {
        height: 380px;
      }
    }
    .icon {
      width: 100px;
      position: absolute;
      top: 82%;
      left: 82%;
    }
    .instaHoverOn {
      opacity: 0.8;
      transform: translateY(-100%);
      transition: all 0.4s ease-in-out;
      position: relative;
      display: flex;
      justify-content: center;
      p {
        font-size: 14px;
        color: white;
        position: absolute;
        top: 0;
      }
    }
    .instaHoverOff {
      transition: all 0.3s ease-in-out;
    }
  }

  // .hover {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   &:hover {
  //     animation: floatItem 5s ease-in-out;
  //   }
  //   @keyframes floatItem {
  //     from {
  //       height: 0;
  //     }
  //     to {
  //       height: 100%;
  //     }
  //   }
  // }
}
