.Nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;

  .navLeft {
    display: flex;
    align-items: center;

    .storeLogo {
      width: 120px;

      &:hover {
        cursor: pointer;
      }
    }

    ul {
      display: flex;
      list-style: none;

      li {
        margin: 8px;
        font-weight: bold;
        font-size: 14px;

        &:hover {
          cursor: pointer;
        }

        &:first-child {
          margin-left: 20px;
        }
      }
    }
  }

  .navRight {
    display: flex;

    .navProfile {
      width: 20px;
      margin: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    .navCart {
      width: 20px;
      margin: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    .navHeart {
      width: 20px;
      margin: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    .navCs {
      width: 20px;
      margin: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    .navSearchBtn {
      width: 250px;
      height: 60px;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      margin-left: 10px;

      &:hover {
        cursor: pointer;
      }

      .navSearchText {
        color: white;
      }

      .navSearch {
        width: 15px;
        z-index: 1;
      }

      &.Changed {
        width: 60px;
        height: 60px;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin: 10px;
        transition: all 400ms ease;

        .navSearchText {
          display: none;
        }

        .navSearch {
          display: none;
        }

        .navSearchClose {
          color: white;
          margin: 0 auto;
          font-weight: bold;
          font-size: 18px;
        }

        &:hover {
          cursor: pointer;
        }

        .navSearchText {
          color: white;
        }

        .navSearch {
          width: 15px;
          z-index: 1;
        }
      }
    }

    // .navSearchBtnChanged {
    //   width: 60px;
    //   height: 60px;
    //   background-color: black;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   padding: 0 20px;
    //   margin: 10px;
    //   transition: all 400ms ease;

    //   .navSearchText {
    //     display: none;
    //   }

    //   .navSearch {
    //     display: none;
    //   }

    //   .navSearchClose {
    //     color: white;
    //     margin: 0 auto;
    //     font-weight: bold;
    //     font-size: 18px;
    //   }

    //   &:hover {
    //     cursor: pointer;
    //   }

    //   .navSearchText {
    //     color: white;
    //   }

    //   .navSearch {
    //     width: 15px;
    //     z-index: 1;
    //   }
    // }
  }
}
